<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header" id="navbar_header_company">
      <a class="navbar-brand" [routerLink]="'/company'"> Rodos </a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="'/company'">О компании</a></li>
      <li routerLinkActive="active"><a [routerLink]="'/products'">Продукция</a></li>
      <li routerLinkActive="active"><a [routerLink]="'/contact'">Контакты</a></li>
    </ul>

    <app-system-login></app-system-login>

  </div>
</nav>
