<h1>Rodos</h1>

<h3>Услуги</h3>
<p>
  Компания Rodos представляет услуги разработки и производства широкой линейки ПАВ-фильтров. Мы имеем многолетний опыт и
  высокую экспертизу в сфере ПАВ-фильтров.
  Нашими услугами воспользовались десятки предприятий и компаний. Мы специализируемся на разработке мелкосерийном
  производстве.
</p>

<h3>История</h3>
<p>
  Компания Rodos была основана в 1995 году инженерами Интеграл в г. Минске. Офис распологался на месте современого ПВТ.
  В 2002 году компания переехала в Киев.
  На текущий момент разработка и производство осуществляется вместе в Киевским Политехническим институтом.
</p>

<h3>Наши приемущества</h3>
<p>
  Главным приемуществом компании является невысокая цена разработки ПАВ-фильтров, а также возможность производства.
  </p>
